<h1>Editing group</h1>


<%= form_for @group, :url => group_path, :html => { :multipart => true } do |f| %>


<%= render 'form', :f => f  %>
<% end %>





<div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
         Delete group?
       </a>
     </div>
     <div id="collapseThree" class="accordion-body collapse">
       <div class="accordion-inner">
         <%= link_to 'Click this to delete. This is irreversible!', group_path(:id => @group.id), confirm: 'Final chance', method: :delete %>
       </div>
     </div>
   </div>