<h1>Editing group</h1>


<%= form_for @group, :url => group_path, :html => { :multipart => true } do |f| %>


<%= render 'form', :f => f  %>
<% end %>




<%= link_to 'Destroy', group_path(:id => @group.id), confirm: 'Are you sure?', method: :delete %>

