




	
	
	

		<div class="span1">
		  <p> 
			</p>
		</div>	



		<div class="span6">

		<%= render :partial => "shared/filter" %> 

		</div>

	
	
	
	
	
	

<%= render :partial => "shared/posts", :locals => { :posts => @group.posts }%>




</div>

  <div class="row">
			<div class="span4">	  

<%= render 'shared/group_title'%>
				
				
				<p>	<%=link_to "New post", new_group_post_path(@group.id), :class => "btn"%></p>
				
				

				
				
				
			



	        </div>




