




	
	
	





	
	
	
	
	
	

<%= render :partial => "shared/posts", :locals => { :posts => @posts }%>

<%= will_paginate @posts %>


</div>

  <div class="row">
			<div class="span4">	  
				
				

		      


			  
				<%= render 'shared/filter'%>
			<br>
			
			
				

				
<%= render 'shared/group_title'%>
				
				

				

				
				
				
			



	        </div>




