	  <div class="row">
				<div class="span4">	  
			        <div class="well"> 	
	<h4><b><%= @user.username %></b> <img src="http://placehold.it/15x15" alt=""> </h4> 
	<p> <%= @user.about%></p>
	<p> status message</p>	
		
	<h4>photos     </h4> 
	<a href="#">
       <img src="http://placehold.it/40x40" alt="">
     </a>	
	</div>
					
<div class="row">			
	<div class="span4">	  
		 <div class="well">
											<h4>sections
										</h4>										
										      <ul>
										        <li>Calculus <img src="http://placehold.it/15x15" alt=""> </li>	   
										        <li>Pizza <img src="http://placehold.it/15x15" alt="">  </li>
										</ul>
				</div>
			</div>
		</div>


	 <div class="row">
			<div class="span4">	  
     <div class="well">
											<h4>messages </h4>
										<p><u>ryan says</u>...Hey whats up, been following. can you add me to the pizza group? (2 days ago) </p>     
								
													
				</div>
			</div>
		</div>

		        </div>
     </div>