	
	


			


<% if params[:action] != 'comments_latest' %>	
	

		<%= render :partial => "shared/posts", :locals => { :posts => @posts }%>
	
	<% end %>
	
	
<% if params[:action] == 'comments_latest' %>	
	
			<%= render :partial => "shared/comments", :locals => { :comments => @comments }%>
	<%end%>
	
	
	
	
	
	
	</div>




<%= render :partial => 'show_right_menu' %>

