

<div class="btn-group">


	 <button class="btn dropdown-toggle btn-small" data-toggle="dropdown">Filter posts <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>

<% if !@group.nil? %>
  <button class="btn btn-small"><%=link_to "New post", new_group_post_path(@group.id) %> </button>
<% end %>

</div>




