	<div class="span6">
	 		<div class="btn-toolbar">
        	<div class="btn-group">
            <button class="btn btn-mini">Filter</button>
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          	<ul class="dropdown-menu">
            	<li><a href="#">Latest</a></li>
            	<li><a href="#">Most Commented</a></li>
            	<li><a href="#">Highest Rated</a></li>
	        </ul>
            </div><!-- /btn-group -->
            </div><!-- /btn-toolbar -->
	</div>