<hr/>
		<div class="container">
			  <div class="row">
				<div class="span8">


				    <footer>
				      <p><small>Company 2012 - <%= link_to "contact", '/contact' %> - <%= link_to "privacy", '/privacy' %> - <%= link_to "about", '/about' %> </small></p>
				    </footer>	</div>
	</div>
	</div>