         <p><small> type the following for special formatting. ex. 'h1. hello' will make hello letters large. *hello*, asterisks will make hello bold.  </small> <br/>
	headers (h1.,h2.,h3.)  </p>
         <p>text formatting block quote,  (bq., _italic_, *bold*, +underline+, %{color:red}red_text%, </p>
         <p>'#' will make a numbered list. '##' will indent number list <br/> use * for bulleted lists, ** for sub bullet </p>
         <p>
links can be done by  "Google":http://google.com. <br/>link to picture by !http://redcloth.org/hobix.com/textile/sample.jpg!, <br/> have a photo open an address !openwindow1.gif!:http://hobix.com/	 </p>