	    <ul class="nav pull-right">        


<% if user_signed_in? %>
				 <li class="dropdown">
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
  <ul class="dropdown-menu">
      <li><a href="#about">Home</a></li>
      <li><a href="#contact">Settings</a></li>
<li class="divider"></li>
      <li><a href="#contact">Sign Out</a></li>
  </ul>
</li>
<% else %>

<li><a href="#contact">Login</a></li>
<li><a href="#contact">Sign Up</a></li>
   <li class="divider-vertical"></li>

<% end %>
      </ul>
