
<div class="span7">

<div class="page-header">
<h1><small>Comments </small></h1>
</div>

</div>




	<div class="span7">







	

<% show_comments_with_children(@post.root_comments) do |comment|%>
   <%= render "comment_replies", :comment => comment %>
<%end%>


	</div>







