<h1>Editing post</h1>

<%= form_for [@group, @post], :url => group_post_path do |f| %>

<%= render 'form', :f => f %>


<div class="accordion-group">
     <div class="accordion-heading">
       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
         Delete post?
       </a>
     </div>
     <div id="collapse3" class="accordion-body collapse">
       <div class="accordion-inner">
        	 <%= link_to "Delete. No turning back!", group_post_path(params[:group_id], @post.post_uuid), :method => "delete",  :confirm => "This post will be deleted. Are you sure?"%>
		<% end %>
       </div>
     </div>
   </div>




        
