<h1>Editing post</h1>

<%= form_for [@group, @post], :url => group_post_path do |f| %>

<%= render 'form', :f => f %>

<% end %>



         <%= link_to "Delete", group_post_path(params[:group_id], @post.post_uuid), :method => "delete",  :confirm => "This post will be deleted. Are you sure?"%>
