
		
		
		
		
		

  <div class="well"> <p><b>Welcome to Labware,</b> a place to create and share content.</p>

	
	
	
	<% for g in @groups%>
	<% if !(g.avatar.content_type =~ /^image/).nil? %>
		
		
		<a href="<%= group_path(g)%>" rel="popover" 
							data-content="<img src='<%= g.avatar.url(:med)%>'>">
							
							<img src="<%= g.avatar.url(:thumb)%>" class='img-polaroid'> 
		</a>	
	
	
	<% end %>
	<% end %>
	
	
	</div>

	
	

	
	
	
	
	
	</div>


   